@import 'tailwindcss';
@import 'tailwind-animations';

:root {
  --background-primary: #0e0e13;
  --background-secondary: #131318;
  --primary: #cd95fd;
  --secondary: #00f0ff;
  --tertiary: #ff5c00;
  --foreground: #ccc;
}

@theme {
  --color-background: var(--background-primary);
  --color-background-secondary: var(--background-secondary);
  --color-foreground: var(--foreground);
  --font-display: var(--font-space);
  --font-sans: var(--font-manrope);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
}

body {
  background: var(--background-primary);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
